{% extends 'base.html' %}
{% block title %}about{% endblock title %}Home
{% block body %}
<style>
    .content {
        padding: 5px;
        margin: 40px;
        color: rgb(255, 170, 0);
    }
    body{
        background-color: black;
    }
    .container{
        margin:2px;
    }
</style>
<div class="container">
    <img src="https://i.ytimg.com/vi/qtvm3aq5qKw/maxresdefault.jpg" height="300px">
    
</div>
<div class="content">

    <form>
        <b>Price 200</b><br><br>
        <b>Duration 3Hr</b>
        <br><br>
        <div class="row mb-3">
            <label for="number" class="col-sm-2 col-form-label">No of Tickets</label>
            <div class="col-sm-2">
                <input type="number" class="form-control" id="number">
            </div>
        </div>
        <div class="row mb-3">
            <label for="seat_number" class="col-sm-2 col-form-label">Seat Number</label>
            <div class="col-sm-2">
                <input type="number" class="form-control" id="seat_number">
            </div>
        </div>
        <fieldset class="row mb-3">
            <legend class="col-form-label col-sm-2 pt-0">Time and Date</legend>
            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1"
                        checked>
                    <label class="form-check-label" for="gridRadios1">
                        10AM
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                    <label class="form-check-label" for="gridRadios2">
                        3PM
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                    <label class="form-check-label" for="gridRadios3">
                        8PM
                    </label>
                </div>
               <input type="date">
            </div>
        </fieldset>

        <button type="submit" class="btn btn-primary">Pay</button>
    </form>
</div>
{% endblock body %}